h1 {
  text-align: center;
  font-size: 2rem;
}

.players-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  justify-items: center;
}

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.player-card h3 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.player-card:hover {
  transform: scale(1.05);
  background-color: #dfd8d8;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  aspect-ratio: 1 / 1;
  max-width: min(90%, 400px);
  min-height: 300px;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f2f0ef;
}

.player-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem;
}

.player-stats-label,
.player-stats-cell {
  padding: 0.25rem 0.5rem;
}

.modal-content .close-button {
  width: 100px;
  height: 20px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 1.5px;
  color: black;
  background-color: transparent;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
}

.modal-content .close-button:hover {
  background-color: #ada6a3;
}
