h1 {
  text-align: center;
  font-size: 2rem;
}

.sessions-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  max-width: 800px;
}

.session-card {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.session-card:hover {
  transform: scale(1.02);
  background-color: #e3dedc;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0.5);
}

.session-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: min(90%, 800px);
  padding: 0.5rem 1rem;
  margin: 0 auto;
  overflow: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f2f0ef;
  overflow: auto;
}

.session-table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.session-table-header,
.session-table-cell {
  padding: 0.25rem 0.5rem;
}

.session-table-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.session-table-header {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.session-details .close-button {
  flex-shrink: 0;
  width: 100px;
  height: 20px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 1.5px;
  color: black;
  background-color: transparent;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
}

.session-details .close-button:hover {
  background-color: #ada6a3;
}
